<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Members - AVP_HS</title>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="logo">
			<span id="homelogo">AVP_HS</span>
			<span> Members</span>
		</div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li>
				<a href="Home.html">Home</a>
			</li>
			<li>
				<a href="About_Us.html">About Us</a>
			</li>
			<li>
				<a href="Contact_Us.html">Contact Us</a>
			</li>
			<li>
				<span id="curpage">Members</span>
			</li>
			<li>
				<a href="Student_Stuff.html">Student Stuff</a>
			</li>
			<li>
				<a href="Donate.html">Donate</a>
			</li>
			<li>
				<a href="Purchase.html">Purchase</a>
			</li>
			<li>
				<a href="F.A.Q.html">F.A.Q.</a>
			</li>
			<li>
				<a href="Join.html">Join</a>
			</li>
		</ul>
	</nav>

	<!-- One -->
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p>AVP_HS</p>
				<h2>Members</h2>
			</header>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<header class="align-center">
						<p>Members</p>
						<h2>Introduction</h2>
					</header>
					<p>This page is a list of all the current members of AVP_HS and what they are working on. Each one of them are incredibly
						bright high school students with their own story.</p>
				</div>

				<div class="content">
					<header class="align-center">
						<p>Simon Chow, Clayton Meyer, Sameer Suri</p>
						<h2>GPU Optimization</h2>
					</header>
					<p>The GPU group has two main jobs. First, they have to translate other groups' code so that it can run on the LattePanda
						GPU; this decreases processing time and improves the car's responsiveness to turns. Second, they have to make sure
						that the source control is organized and up to date. They test other groups' code and verify that it all works together
						without errors. In the future, they would like to provide higher level access to the GPU, so that it is easier to extend
						and expand upon this year's software.
					</p>
				</div>
				<div class="content">
					<header class="align-center">
						<p>Colton Jelsema, Vikram Kashyap</p>
						<h2>Hardware Integration</h2>
					</header>
					<p>The hardware group's main responsibility is translating other groups' software into actual car movements. This includes
						integrating and testing code from different groups, wiring the LattePanda computer, and programming the Arduino microcontroller.
						The Arduino turns all the program's outputs into the car's outputs. First, it inputs from program to serial port, then
						goes to the Arduino. After, it reads pin numbers and angles and turns them into Pulsewidth Modulation (PWM.) Hardware
						Integration also includes the kill switch which stops the car. They are working on stopping the car on timeout or if
						it loses connection and displaying error messages. Another minor job of the group is to keep the car's software up
						to date, integrate other groups' code, run tests, and make the car run.</p>
				</div>
				<div class="content">
					<header class="align-center">
						<p>Joshua Bromley, Riley Jones, Nathan Purwosumarto</p>
						<h2>Image Processing</h2>
					</header>
					<p>The image group is responsible for turning real-world images into a format useful to a computer. They manage the camera's
						Bayer8 input and process it in different ways for different groups. For example, they convert it to a black and white
						image for the steering group but convert it into a simplified color image for the speed group. One problem the image
						group faces is dealing with image noise, which includes background objects and irregular lighting. They use an erosion
						filter to remove this noise and make the image easier to process. Lastly, they deal with how the image is displayed
						on the software. In the future, the image group would like to utilize real-time threshold adjustment to change certain
						parameters based on the image as well as better line detection.
				</div>
				<div class="content">
					<header class="align-center">
						<p>William Adriance, Matthew Alexander, Derek Schwartz, Brett Zonick </p>
						<h2>Speed Control</h2>
					</header>
					<p>The speed group is responsible for adjusting the speed of the car. This includes stopping at stop lights and stop signs,
						as well as slowing down around sharp corners and curves. They use information from the steering group to control the
						car's speed, and they use the simplified color image from the image group to detect important features in the scene.
						Recently, this group has been working on creating stopping code that uses the size of objects in the real world to
						determine the best location to stop.</p>
				</div>
				<div class="content">
					<header class="align-center">
						<p>Carl Bergstrom, Nathan Ng, Kevin Paulsen</p>
						<h2>Steering</h2>
					</header>
					<p>The steering group's responsibility is to keep the car inside the lane. This includes determining the location of the
						lane lines (with the help of the image group) and adjusting the angle of the car's front wheels to compensate for steering
						error. They are also responsible for steering the car between lanes and using proportional control for smooth steering.
						Currently, they are working on creating a model-based approach to steering the car which includes mapping out the track
						for later use without a camera.</p>
				</div>
				<div class="content">
					<header class="align-center">
						<p>Ryan Bernstein, Rudy Peralta</p>
						<h2>Website</h2>
					</header>
					<p>This group is responsible for making sure that the website works, that it has accurate information on it, and that it
						looks good. They also had to keep in mind that the site would be the hub of the program and needs to have ample options
						for contact and questions. </p>
				</div>
			</div>
		</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<ul class="icons">
				<li>
					<a href="#" class="icon fa-twitter">
						<span class="label">Twitter</span>
					</a>
				</li>
				<li>
					<a href="#" class="icon fa-facebook">
						<span class="label">Facebook</span>
					</a>
				</li>
				<li>
					<a href="#" class="icon fa-instagram">
						<span class="label">Instagram</span>
					</a>
				</li>
				<li>
					<a href="#" class="icon fa-envelope-o">
						<span class="label">Email</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="copyright">
			&copy; Untitled. All rights reserved.
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>